@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Lilita+One&family=Playwrite+US+Trad:wght@100..400&family=Poppins:wght@600&family=Raleway:wght@400;500;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #FDFBF7;
    --foreground: #3A3A3A;
  }
  
  body {
    @apply bg-background text-foreground font-body antialiased;
    margin: 0;
    overflow-x: hidden;
  }
  
  h1, h2, h3, h4 {
    @apply font-handwritten;
  }
}

@layer utilities {
  .clip-circle {
    clip-path: circle(50% at 50% 50%);
  }
}
